{% extends 'feed/base.html' %}

{% block content %}

<div class="container my-5">
    <div class="red-hat-font">
        <div>
            <h2>ABOUT US</h2>
            <p>The main objective of this website is to help people in their decisions. It may be something trivial
                or something important. The user can create a post with two choices. One is called 'LEFT' and the other one is 'RIGHT'. The other users can vote for the left content or right content. This vote count will help
                the user who created the post with their decision. It would also be fun to vote in other people's posts. We can also view users profile which has user 'bio'. This will help us to vote with a better insight about the user who posted.<br> I will try to add more features in the future.<i class="far fa-handshake ps-1"></i></p>
        </div>
        <div class="my-4">
            <h2>CONTACT ME</h2>
            <p><i class="far fa-envelope pe-3" style="font-size: 1.2em;"></i>r.antony67@gmail.com</p>
        </div>
    </div>
</div>


{% endblock %}